
<div class="container">
    <form class="form-signin" [formGroup]="registerform" (ngSubmit)="handleRegistration()">
      <h2 class="form-signin-heading">Create Account</h2>
      <label for="inputName">username</label>
      <input type="text" id="inputName" class="form-control" placeholder="Enter your username" formControlName="username" required autofocus>
      <br>
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Enter your email here" formControlName="email" required>
      <br>
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Enter password here" formControlName="password" required>
      <br>
      <label for="inputCPassword">Confirm Password</label>
      <input type="password" id="inputCPassword" class="form-control" placeholder="Enter confirm password here" formControlName="confirmPassword" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
  </div>