.student_num {
    position: relative;
    display: inline-block; 
    width: 30%;
}

.student_num img{
    background-color: yellow;
    width: 100%;
}

.student_num1 {
    position: absolute;
    width: 100%;
    height: 230px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(137, 113, 113, 0.7); 
    padding: 8px; 
    border-radius: 5px; 
}

.student_num1 h1{
    font-size: 18px;
    margin: 90px 0px 0px 40px;
    font-weight: bold;
    color: white;
    font-size: 28px;
    
}
